---
import { Image } from "astro:assets";
import { getLanguageFromURL, useTranslations } from "../i18n/utils";
import PageLayout from "../layouts/PageLayout.astro";
import { defaultLang, languages } from "../i18n/ui";

const urlLang = getLanguageFromURL(Astro.url);
const lang = urlLang && languages.includes(urlLang, 0) ? 
    urlLang
: defaultLang;

const tr = useTranslations(lang);
---

<PageLayout title="retrozinndev | 404!" {lang}>
    <div class="not-found">
        <div class="flowbox">
            <div class="image-container">
                <Image src="/images/nijika_404.png" width={256} height={242} alt="Nijika 404" />
                <p class="artist">{ tr("404.artist").toLowerCase() }: <a href="https://x.com/schu_1112">schu_1112</a></p>
            </div>
            <h1>404!</h1>
        </div>
        <p>
            { tr("404.description.l1") } <br>
            { tr("404.description.l2") } <a href={ `/${Astro.params.lang}/#socials` }>{ tr("404.socials") }</a>
        </p>
    </div>

    <style>
        .not-found {
            margin-block-start: 3em;
            width: 100%;
            height: 100%;
            text-align: center;
            display: block;

            & .flowbox {
                display: flex;
                align-items: center;
                justify-content: center;

                & .image-container {
                    display: block;

                    & .artist {
                        font-size: .88em;
                        color: gray;
                        font-weight: 400;
                        margin-inline-start: .5em;
                    }
                }

                & h1 {
                    line-height: .45em;
                    display: block;
                    font-size: 5.5em;
                    margin-inline-start: .8em;
                }
            }

            & > p {
                font-size: 18px;
            }
        }

        @media screen and (max-width: 700px) {
            .not-found .flowbox {
                display: block;

                & h1 {
                    margin-inline-start: 0;
                }
            }
        }
    </style>
</PageLayout>
