---
interface Props {
    href: string;
    external?: boolean;
}

const { href, external } = Astro.props;
---

<a class="link-button" href={ href }>
    <slot /> <i style=`display: ${external ? "initial" : "none"}` 
                class="nf nf-oct-arrow_up_right" />
</a>

<style lang="scss">

    @use "../styles/colors";

    a {
        display: inline-flex;
        margin-inline: 8px;
        font-size: normal;
        font-weight: 600;
        width: fit-content;
        box-sizing: content-box;
        color: inherit;
        
        border: solid 0.032em colors.$accent-color;
        padding: 5px 8px;
        border-radius: 12px;
        text-decoration: none;
        -webkit-tap-highlight-color: transparent;
        transition: 150ms linear;

        &:hover {
            color: white;
            background-color: colors.$accent-color-dark;
        }
    }

    body.light a:hover {
        color: black;
        background-color: colors.$accent-color;
    }
</style>


