---
import { FaArrowUpRightFromSquare } from 'react-icons/fa6';

interface Props {
    href: string;
    external?: boolean;
    showIcon?: boolean;
    title?: string;
    spacing?: boolean;
}

const { href, external, title, showIcon = true, spacing = true } = Astro.props;
---

<a class=`link-button ${spacing ? "space" : ""}` {href} 
    target={external ? "_blank" : "_self"} {title}>

    <slot />
    <FaArrowUpRightFromSquare className="external-icon" style={{
        display: showIcon && external ? "initial" : "none",
        marginLeft: 6,
        marginTop: 3
    }} />
</a>

<style lang="scss">

    @use "../styles/colors";

    a {
        display: inline-flex;
        font-weight: 600;
        
        box-shadow: inset 0 0 0 1px colors.$accent-color-dark;
        border-radius: 12px;
        text-decoration: none;
        text-underline-offset: 2px;
        transition: 150ms linear;

        &.space {
            padding: 8px 10px;
            margin-inline: 8px;

            &:hover {
                color: white;
                border-width: 2px;
                background-color: colors.$accent-color-dark;

                body.light & {
                    box-shadow: inset 0 0 0 1px colors.$accent-color-dark;
                    background-color: colors.$accent-color-dark;
                }
            }
        }

        &:not(.space) {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            box-shadow: none;

            &:hover {
                text-decoration-color: colors.$accent-color-dark;
            }
        }
    }
</style>


