---
import { Image } from "astro:assets";
import { FaRegStar } from "react-icons/fa6";

interface Props {
    icon: string;
    description: string;
    title: string;
    developer: string;
    href: string;
    stars: number;
}

const { icon, developer, title, description, href, stars } = Astro.props;
---

<div class="project-card" id="projectCard" onclick={`window.open("${href}", "_blank")`}>
    <div class="developer">
        <Image class="icon" src={
              icon ?? `https://github.com/${developer}.png?size=72`
          } alt="dev profile picture" width={32} height={32} loading={"lazy"}
        />

        <span class="developer-name">{ developer }</span>
        <div class="stars" style={`display: ${stars > 0 ? "inline-flex" : "none"}`}>
            {stars}
            <FaRegStar width={16} size={14} style={{
                marginLeft: 2
            }} />
        </div>
    </div>
    <h1>{ title }</h1>
    <p>
        { description }
    </p>
</div>


<style lang="scss">

    @use "sass:color";
    @use "../styles/colors";

    .project-card {
        background: rgb(48, 46, 48);
        display: block;
        list-style: none;
        padding: 10px;
        line-height: 0.8rem;
        transition: ease-in 150ms;
        min-width: 150px;
        min-height: fit-content;
        color: inherit;
        cursor: pointer;
        width: 100%;

        &:hover {
            background: colors.$accent-color-dark;
        }
    }

    body.light .project-card {
        background: rgb(200, 200, 200);
    }

    body.light .project-card:hover {
        box-shadow: inset 0 0 0px 1px colors.$accent-color,
            0px 10px 25px .05em rgb(100, 100, 100);
        background: colors.$accent-color;
    }

    .project-card > a {
        transition: none;
        color: inherit;
        text-decoration: none;
    } 

    .project-card h1 {
        display: block;
        font-size: 1.45em;
        line-height: 1.2em;
        margin-top: 6px;
    }

    .stars {
        display: inline-flex;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        color: lightgray;
    }

    body.light .stars {
        color: color.adjust($color: gray, $lightness: -20%);
    }

    .developer {
        display: inline-flex;
        width: 100%;
        align-items: center;

        & .developer-name {
            font-size: 12px;
            display: inline-flex;
            color: color.adjust($color: white, $lightness: -20%);
            font-weight: 600;
            width: 100%;
            margin-left: 6px;
        }

        & .stars {
            display: inline-flex;
            width: max-content;
            align-items: center;
            font-size: 12px;
        }
    }

    body.light .developer-name {
        color: rgb(50, 50, 50) !important;
    }

    .icon {
        width: 32px;
        height: 32px;
        display: inline-flex;
        border-radius: 32%;
    }

    p {
        font-size: .95em;
        font-weight: normal;
        line-height: 1.4rem;
    }
</style>
