---
import LinkButton from "../../components/LinkButton.astro";
import { useTranslations, format } from "../../i18n/utils";
import PageLayout from "../../layouts/PageLayout.astro";

export { getStaticPaths } from "../../i18n/route";

const tr = useTranslations(Astro.params.lang ?? "en");
---

<PageLayout title="About">
    <div class="block">
        <h1>{tr("about.title")}</h1>
        <p>{tr("about.description")}</p>

        <h2>{tr("about.journey.title")}</h1>
        <p>{tr("about.journey.p1")}</p>
        <p set:html={
           format(tr("about.journey.p2"), 
               `<a href="https://fedoraproject.org/workstation">Fedora Workstation</a>`,
                `<a href="https://archlinux.org">Arch Linux</a>`
           )
        } />

        <h2>{tr("about.interests.title")}</h2>
        <p set:html={
           format(tr("about.interests.text"),
               `<a href="https://pt.wikipedia.org/wiki/Oshi_no_Ko">Oshi no Ko</a>`,
               `<a href="https://pt.wikipedia.org/wiki/Bocchi_the_Rock!">Bocchi The Rock!</a>`,
               `<a href="https://pt.wikipedia.org/wiki/Kaoru_Hana_wa_Rin_to_Saku">Kaoru Hana wa Rin to Saku</a>`
           )
        } />
        <LinkButton external href="https://myanimelist.net/profile/retrozinndev">
            MyAnimeList.net
        </LinkButton>
        <h3>{tr("about.music.title")}</h3>
        <p>{format(tr("about.music.p1"), "inabakumori", "JamieP", "32ki", "DECO*27", "ime44")}</p>
        <p set:html={format(tr("about.music.p2"),
           "Vaundy", "Kenshi Yonezu", "Ado", "natori", "9Lana", "Hoshimachi Suisei"
        )} />

        <h2>{tr("about.recent_projects.title")}</h2>
        <p set:html={
           format(tr("about.recent_projects.p1"),
               `<a href="https://github.com/retrozinndev/colorshell">colorshell</a>`,
               `<a href="https://hypr.land">Hyprland Wayland Compositor</a>`
           )
        } />
        <p set:html={
            format(tr("about.recent_projects.p2"),
                `<a href="https://github.com/retrozinndev/vibe">Vibe</a>`
            )
        } />
    </div>
    <style>
        p {
            font-size: 15.1px;
        }
    </style>
</PageLayout>
