---
import { Image } from "astro:assets";
import { useTranslations }  from "../../i18n/utils";
import PageLayout from '../../layouts/PageLayout.astro';
import SocialLinks from "../../components/SocialLinks.astro";
import LinkButton from "../../components/LinkButton.astro";
import ProjectsComponent from "../../components/ProjectsComponent.astro";
import { getRepositories } from "../../scripts/repos";
import DiscordEmbed from "../../components/DiscordEmbed.astro";


export { getStaticPaths } from "../../i18n/route";

const tr = useTranslations(Astro.params.lang as never);
const highlightProjects = (await getRepositories(undefined, {
    filterArchived: true,
    orderByMostStarred: true
})).toSpliced(0, 6); // show the first 6 projects
---

<PageLayout title={"retrozinndev | Home"} navSpacing="4em" sideSpacing="4px" flex sideSpacing="8px" 
  pfpOnNavigation={false} maxWidth="100em">

    <div class="block">
        <div class="flex">
            <div class="card">
                <div class="image-container">
                    <Image src={"https://1.gravatar.com/avatar/093b64d2016ab8acce8a2fe73cb719f527790d4ecec7f5837db8d46519b38bf8?size=512"} 
                    width={512} format="webp" height={512} alt={"Profile Picture"} class={"image"} loading={"lazy"} />
                </div>

                <div class="info">
                    <h1 class="greeting">{tr("about.title")} <span class="highlight">João!</span></h1>
                    <p class="about"> {
                        tr("about.description")
                    } </p>

                    <h2 class="socials">{tr("about.socials_title")}</h2>
                    <div class="socials">
                        <DiscordEmbed />
                        <SocialLinks />
                    </div>
                </div>
            </div>
        </div>
    
        <div class="projects-container">
            <h1>{ tr("projects.title") }</h1>
            <p>
                { tr("projects.description") } 
                <LinkButton href="https://github.com/retrozinndev?tab=repositories" external={true} spacing={false}>GitHub</LinkButton>
            </p>
            <div class="projects">
                <ProjectsComponent projects={highlightProjects} />
            </div>
        </div>
    </div>

    <style lang="scss">
        @use "../../styles/colors";

        .block {
            display: block;
            width: 100%;
        }

        .flex {
            display: flex;
            width: 100%;
        }

        .projects-container {
            margin-inline: 1em;
        }

        .card {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: colors.$bg-navbar-color-dark;
            padding: 24px;
            border-radius: 48px;
            margin-bottom: 3.1em;

            & .image-container {
                display: flex;
            }

            & .image {
                border-radius: 32px;
                margin-right: 5em;
            }

            & h1.greeting {
                font-size: 2.9em;
            }

            & p.about {
                font-weight: 300;
                font-size: 1.2em;
                margin-bottom: 3em;
            }
        }

        body.light .card {
            background-color: colors.$bg-navbar-color-light;
        }

        /* medium */
        @media (max-width: 1100px) {
            .card .image-container {
                display: flex;
                align-items: center;
                justify-content: center;

                & .image {
                    width: 256px;
                    height: 256px;
                    margin-right: 2.5em;
                }
            }
        }

        /* small (generally phones) */
        @media (max-width: 800px) {
            .card {
                display: block;

                & .image-container {
                    display: flex;

                    & .image {
                        width: 100%;
                        height: 100%;
                        margin-right: 0;
                    }
                }

                & h1, h2 {
                    text-align: center;
                }

                & .socials {
                    display: block;
                    text-align: center;
                }
            }
        }
    </style>
</PageLayout>
