---
import ProjectsComponent from "../../components/ProjectsComponent.astro";
import { getStaticPaths } from "../../i18n/route.ts";
import PageLayout from "../../layouts/PageLayout.astro";
import { useTranslations } from "../../i18n/utils";
import { getMyRepos } from "../../scripts/repos";
export { getStaticPaths };


const tr = useTranslations(Astro.params.lang as never);
const repos = await getMyRepos();
---

<PageLayout title="retrozinndev's Projects">

    <h1>{ tr("projects.title") }</h1>
    <p>
        { tr("projects.description") } 
        <a rel="_blank" href="https://github.com/retrozinndev?tab=repositories">GitHub</a>.
    </p>
    <div class="projects">
        <ProjectsComponent projects={repos} />
    </div>

    <style>

        .projects {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 100%;
        }

        @media screen and (max-width:700px) {
            .projects {
                display: inline-block;
            }
        }
    
    </style>

</PageLayout>

