---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";
import "../styles/global.scss";

interface Props {
    title: string;
    icon?: string;
}
const { title, icon } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{ title }</title>
        <link rel="icon" href={ icon ?? 
            "https://1.gravatar.com/avatar/093b64d2016ab8acce8a2fe73cb719f527790d4ecec7f5837db8d46519b38bf8?size=32"
        }>
    </head>

    <body id="rootBody">
        <script>
            (document.getElementById("rootBody") as HTMLBodyElement
                ).className = localStorage.getItem("theme") ?? "dark";
        </script>
        <Navigation />

        <div class="content">
            <slot />
        </div>
        <Footer />
    </body>

    <style>
        
        .content {
            padding-inline: 7%;
        }

    </style>
</html>
